<html>

    <head>

        <style>

            * {
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            h1 {
                text-align: center;
            }


        </style>
    </head>

    <body>
        <h1>Login</h1>
        <form method="post" action="/login">
            <input type="text" name="username"><br>
            <input type="password" name="password"><br>
            <input type="submit">

        </form>

        <a href="/register">Register</a>
    </body>
</html>